.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
}
.card-container{
    background-color: rgba(255, 153, 0, 0.3);
}